.navbar-color{
    background-color:rgb(28, 28, 69)
}
.container-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    column-gap: 10px;
    row-gap: 15px;
}
.space-right{
    margin-right: 100px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}